/* #region Regole di Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
}

/* #endregion Regole di Reset */

/* #region Biglietto recap */
.biglietto-recap .row {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
}

.biglietto-recap__title {
    margin-bottom: 1rem;
}

/* #endregion Biglietto recap */

/* #region Info Table */
.info-table th {
    padding-right: 2rem;
}

/* #endregion Info Table */